* {
    font-family: 'Arial', 'sans-serif';
    line-height: 32px;
}

h1 {
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
}

#recipes {
    background-color: gray;
}

.recipe {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    margin: 0px 10px;
    padding: 20px;
    text-align: center;
}

a {
    color: white;
    font-weight: 600;
}

#home {
    color: black;
}

#image {
    width: 50%;
    height: auto;
}

.sub-heading {
    background-color: gray;
    color: white;
    font-size: 28px;
}

.content {
    background-color: lightgray;
}